@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    text-align: left;
    font-size: 20px;
    background-image: url(http://intelligenttech.org/DMIPA2020/images/val2.jpg);
    width: 100%;
    height: 15%;
    border-radius: 5px;
    box-shadow: 1px 0 4px rgba(0, 0, 0, .2);
    /*agrega una sombra alrededor de la etiqueta html en este caso la de section*/
    margin-bottom: 15px;
    padding: 30px;
}

#root {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: auto;
    background: linear-gradient(#8be4f0, #04abc9, #22223f);
}

.titulo {
    text-align: center;
    color: black;
}

input {
    background-color: #fff;
    color: black;
}

.extendInput {
    width: 20%;
}

input::placeholder {
    color: #6d7070;
}

.boton {
    background-color: #1f53c5;
    border-radius: 10px 0 10px 0;
    color: #fff;
    margin: 10px;
    padding: 10px;
    border: none;
    text-decoration: none;
}

.boton:hover {
    background-color: #32f1e2;
    color: #000;
}

.link {
    color: #000;
    text-decoration: none;
    padding: 5px;
    font-weight: bold;
}

section {
    align-items: center;
}

.section1 {
    align-items: center;
    display: block;
    margin: auto;
    width: 65%;
    /*Es el espacio que ocupa la seccion*/
    background: rgba(0, 0, 0, 0.445);
    color: #fff;
    border-radius: 5px;
    box-shadow: 1px 0 4px rgba(0, 0, 0, .2);
    /*agrega una sombra alrededor de la etiqueta html en este caso la de section*/
    margin-bottom: 15px;
    padding: 15px;
}

.imgBorderR {
    border-radius: 15px;
    display: block;
    margin: auto;
}

.ftr {
    text-align: center;
    color: #fff;
    margin-top: 15px;
}

.testAlignment {
    text-align: center;
}