* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (min-width: 700px) {
    .form {
        width: 70%;
        padding: 20px;
        box-shadow: 0 0 10px #00000036;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 30px;
        border-radius: 10px;
    }
    .form h2 {
        text-align: center;
        font-size: 1.8rem;
        text-shadow: 3px 3px 6px #00000036;
    }
}

@media (max-width: 699px) {
    .form {
        width: 90%;
        padding: 20px;
        box-shadow: 0 0 10px #00000036;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 30px;
        border-radius: 10px;
    }
    .form h2 {
        text-align: center;
        font-size: 1.5rem;
        text-shadow: 3px 3px 6px #00000036;
    }
}